################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UWP1/UWP1/UWP1/bin/Debug/netstandard2.0
