################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UWP1/UWP1/UWP1/bin/Debug/netstandard2.0
/UWP1/UWP1/UWP1/obj
/UWP1/UWP1/UWP1.UWP/bin/x86/Debug
/UWP1/UWP1/UWP1.UWP/obj
/UWP1/.vs/UWP1/DesignTimeBuild
/UWP1/.vs/UWP1/v16
/UWP1/UWP11/UWP11.Android/bin/Debug
/UWP1/UWP11/UWP11.Android/Properties/AndroidManifest.xml
/UWP1/UWP11/UWP11.Android/obj
